WS_HOST=ws_host
WS_PORT=ws_port
UPLOAD_DIR=/uploads
MAX_WS_MB=25

SERVER_URL=wss://server_url

WIDTH=500
HEIGHT=500
QUALITY=90
FNAME=photo.jpg            

IMG_DIR=/img
CAPTURE_PY=/app/capture.py

API_KEY="YOUR_API_KEY"

FONT_LOCATION=/fonts