WS_HOST=ws_host
WS_PORT=ws_port
UPLOAD_DIR=/uploads
MAX_WS_MB=25

SERVER_URL=wss://server_url

WIDTH=500
HEIGHT=500
QUALITY=90   
FOV_ANGLE=90     

VIDEO_DIR=/video
COMMANDS_DIR=/commands
CAPTURE_PY=/app/capture.py

API_KEY="YOUR_API_KEY"

# Optional
FONT_LOCATION=/fonts
